@import "../../styles/variables";

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff; /* Set circle background color */
  border: 3px solid $colorSecondary; /* Set outer border color */
  &:hover{
    background-color: $colorSecondary;
    color: white;
  }

}

p {
  margin: 0;
  padding: 5px;
}

.date-to-select {
  &:hover {
    cursor: pointer;
  }
}

button {
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  margin: 0;
  display: block;
  opacity: 100%;
  background-color: $colorSecondary;
  width: 40px;
  span {
    position: absolute;
    top: 20px;
  }
}

.carousel-item {
  padding: 0px 45px;
}

.carousel-control-next {
  span {
    right: 1px;
  }
}
.carousel-control-prev {
  span {
    left: 1px;
  }
}

.selected-date {
  border: 1px solid $colorSecondary; /* Blue border for the selected date */
  border-radius: 30px;
  padding: 6px;
}
