@import "../../styles/variables";

.nav-link {
  text-transform: uppercase;
  color: rgb(197, 197, 197) !important;
  &:hover {
    color: white !important;
  }
}

.navbar-brand {
  margin-bottom: 8px;
  color: rgb(197, 197, 197);
  &:hover {
    color: rgb(197, 197, 197);
  }
}

.navbar {
  background-color: $colorSecondary;
  top: 0px;
}
