$colorPrimary: #E0CBA8;
$colorSecondary: #564154;
$colorSecondaryHover: #756674;
$colorSecondaryHoverLight: #928292;
$colorTertiary: #88498F;
$colorFour: #FF6542;
$colorFour2: #7b574eda;

$colorFive: #779FA1;
$colorFiveHover: #aed5d7;
$circleSize: 300px;
$barHeight: 60px;
$barBorderRadius: 10px;
$barRelativeHeight: 80%;
$innerBarPadding: 10px;
$innerBarHeight: 98%;
$barWidth: 90vw;
$adjustersSize: 30px;
$loaderSizeBig: 150px;
$padding2: 12px;
$padding3: 24px;
$textColorLight: rgb(197, 197, 197);